.wrapper {
  background-color: lightgray;
  width: 800px;
  height: 100vh;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

img {
  transition: all 0.2s;
  height: 300px;
  width: 300px;
}

.round {
  border-radius: 50%;
}
