/* Add reset to all items */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* the box sizing property decides how the padding and border will 
be added to an element

content-box - added to total width and height
border-box - adds padding and border without changind its dimensions
shrinks available space for the content keeping it to its original size

margins are never accounted as elements dimensions
*/

body {
  height: 100vh;
  display: flex;
  background-color: #060ab2;
}

/* vh stands for viewport height 
viewport is the visible area of your webpage
the unit vh corresponds to 1% of the viewport height
by setting it to 100 body will take 100% of the available height space
*/

/* We will be styling our memory-game container and memory card front-face and
back-face elements  */

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  /* border: 2px solid lime; */
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  margin: 5px;
  /* border: 2px solid aqua; */
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 2s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;

  /* border: 2px solid deeppink; */
}

.front-face {
  transform: rotateY(180deg);
}

img {
  max-width: 100%;
  height: auto;
}
